@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


body {
  font-family: var(--font-inter),'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-component {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

